In [16]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv('./labels_train.csv')

In [29]:
df.head(4)

           file  xmin  ymin     w     h class  xmax  ymax
0  DSCF1013.JPG  1217  1690  3648  2736   bus  1706  1891
1  DSCF1013.JPG  1774  1619  3648  2736   bus  2249  1843
2  DSCF1013.JPG  2313  1566  3648  2736   bus  2773  1794
3  DSCF1013.JPG  1284  1832  3648  2736   bus  1781  2063

In [20]:
df[['xmin','ymin','w','h']] = df[['xmin','ymin','w','h']].astype(np.int64)

In [22]:
df[['class']] = 'bus'

In [26]:
df['xmax'] = df['xmin'] + df['w']
df['ymax'] = df['ymin'] + df['h']

In [28]:
df['w'] = 3648
df['h'] = 2736

In [32]:
df_reorder = df[['file', 'w', 'h', 'class', 'xmin', 'ymin', 'xmax', 'ymax']] # rearrange column here
df_reorder.to_csv('./sample_reorder.csv', index=False)

In [33]:
df_reorder.head(4)

           file     w     h class  xmin  ymin  xmax  ymax
0  DSCF1013.JPG  3648  2736   bus  1217  1690  1706  1891
1  DSCF1013.JPG  3648  2736   bus  1774  1619  2249  1843
2  DSCF1013.JPG  3648  2736   bus  2313  1566  2773  1794
3  DSCF1013.JPG  3648  2736   bus  1284  1832  1781  2063